/*----------------------------SERVICIOS----------------------------*/
/*Titulo*/
.scrolling-container {
    width: 100%;
    height: 55px;
    margin-bottom: 1rem;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    background-color: #414066;
    border: 1px solid black;
}
.scrolling__title {
    width: 100%;
    margin: 0;
    position: absolute;
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
    color: #ffffff;
    transform: translateX(90%);
    animation: scrolling 14s linear infinite;
}
@keyframes scrolling {
    0% {
        -webkit-transform: translateX(75%);
        transform: translateX(75%);
    }
    100% {
        -webkit-transform: translateX(-75%);
        transform: translateX(-75%);
    }
}
/*Cards*/
.service__container {
    padding: 1.5rem 2rem;
}
.service__card {
    width: 90%;
    height: 275px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
	background-color: #ffffff;
	border: 2px solid #dddddd;
    border-radius: 1rem;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, .8);
    transition: box-shadow 0.2s ease, transform 0.2s ease;
}
.service__card:not(:last-child) {
    margin-bottom: 3rem;
}
.card__img {
    width: 40%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.2s ease;
}
.card__text-container {
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card__title {
    font-size: 1.5rem;
    margin-bottom: .2rem;
}
.card__subtitle {
    font-size: 1.1rem;
    margin-bottom: .3rem;
}
.card__bar {
    width: 50px;
    height: 5px;
    border-radius: 1rem;
    background-color: #F5CB5C;
    margin-bottom: .5rem;
    transition: width 0.2s ease;
}
.card__text {
    font-size: 1rem;
    line-height: 25px;
}
.card__tagbox {
    margin-bottom: .2rem;
}
.card__tag {
    margin-right: .5rem;
    padding: .5rem 1rem;
    border-radius: 10px;
    background-color: #414066;
    color: #fff;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, .8);
}
/*Animaciones*/
.service__card:hover {
    box-shadow: 0 34px 32px -33px rgba(0, 0, 0, .18);
	transform: translate(0px, -3px);
}
.service__card:hover .card__img {
    transform: scale(1.02) rotate(.2deg);
}
.service__card:hover .card__bar{
    width: 70px;
}
/*Media Query Tablet*/ 
@media screen and (max-width:1200px) {
    .service__card {
        width: 100%;
    }
    .card__tagbox {
        display: flex;
        flex-wrap: wrap;
    }
    .card__text {
        margin-bottom: 1rem;
    }
    .card__tag {
        margin-bottom: .5rem;
    }
}
/*Media Query Telefono*/
@media screen and (max-width:768px) {
    .service__card {
        flex-direction: column;
        height: auto;
        width: 100%;
    }
    .card__img {
        width: 100%;
        height: 200px;
    }
    .card__text {
        margin-bottom: 1rem;
    }
    .card__tag {
        margin-bottom: .5rem;
    }
} 
/*----------------------------PROYECTOS----------------------------*/
/*Proyectos*/
.projects {
    width: 100%;
    padding: 2rem;
    border-bottom: 3px solid black;
}
.projects__container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 60px;
    grid-row-gap: 60px;
}
.project-item {
    width: 100%;
    height: 100%;
}
.project-item img {
    width: 100%;
    height: 480px;
    margin-bottom: 1rem;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all 0.4s ease-out;
}
@media (min-width:1200px) {
    .project-item img:hover {
        transform: scale(1.05);
    }
}
.project-item h3 {
    font-size: 1.8rem;
    font-style: italic;
    font-weight: 700;
    letter-spacing: .1rem;
}
.project-item p {
    color: gray;
    text-align: justify;
}
@media screen and (max-width:1200px) {
    .projects__container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 1fr)
    }
    .project-item img {
        height: 375px;
    }
}
@media screen and (max-width:768px) {
    .projects__container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
    }
    .project-item img {
        height: 440px;
    }
}
/*Patners*/
.patners {
    background-color: #414066;
    display: flex;
    justify-content: center;
    color: #dddddd;
    padding: 2rem;
}
.patners-container {
    text-align: center;
}
.patners__title {
    margin-bottom: 2rem;
    font-size: 3rem;
    font-style: italic;
    font-weight: 700;
    letter-spacing: .2rem;
}
.patners__p p {
    letter-spacing: .1rem;
    margin-bottom: 3rem;
}
.patners__p span{
    display: block;
}
.patners-logo img {
    width: 200px;
    object-fit: cover;
    margin: 0 3rem;
}
@media screen and (max-width:768px) {
    .patners-logo img {
        margin: 2rem;
    }
}
/*----------------------------SOBRE MI----------------------------*/
.about-me {
    height: auto;
    padding: 1rem;
    border-bottom: 1px solid black;
}
.about-me__img {
    width: 80%;
    object-fit: cover;
    border-radius: 5px;
}
.about-me__container {
    width: 100%;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: justify;
}
.about-me__container p, .about-me__container h2 {
    margin-bottom: 1rem;
}
.about-me__container a {
    width: 180px;
    padding: 0.7rem 1rem;
    text-align: center;
    font-weight: 700;
    font-size: 1.2rem;
    transition: all 0.4s ease-in-out;
}
.about-me__container a:hover {
    color: #F5CB5C;
    background-color: #414066;
}
@media screen and (max-width: 1200px) {
    .about-me__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .about-me__container a {
      align-self: center;  
    }
    .about-me__container p {
        margin-bottom: 1rem;
    }
    .about-me__img {
        width: 100%;
    }
}
/*-----------------------SOLICITAR PRESUPUESTO---------------------*/
/*Fondo*/
.contact-section {
    background-image: url(../assets/images/pexels-picjumbocom-196645.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}
/*Tarjeta*/
.contact-container {
    width: 80vw;
    background-color: #414066;
    border-radius: 20px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.contact-card__container--1 {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.col-border {
    border-right: 1px solid black;
}
/*Datos*/
.container--1 {
    display: grid;
    grid-template-columns: 50px 200px;
    grid-template-rows: 75px 10px;
    grid-column-gap: .8rem;
    grid-template-areas: 
    "icon title"
    "none text";
    align-items: center;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}
.container--1 img{
    grid-area: icon;
}
.container--1 h2{
    grid-area: title;
    font-weight: 700;
}
.container--1 p{
    grid-area: text;
}
.contact-icon {
    width: 50px;
}
/*Formulario*/
.contact-card__container--2 {
    width: 90%;
    height: 100%;
    padding: 1rem 0;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.contact-card__container--2 .card__bar {
    margin: 0 auto;
    width: 100px;
}
.contact-card__container--2 h2 {
    font-style: italic;
    font-weight: 700
}
.field {
    width: 100%;
    padding: 0.5rem 1rem;
    margin: 1.5rem 0;
    outline: none;
    border: 2px solid #ddd;
    font-size: 1.1rem;
    background-color: #ffffff;  
}
.field:active {
    border: 2px solid black;
}
.btn-contact {
    width: 100%;
    background-color: #dddddd;
    font-size: 1.2rem;
    font-weight: 900;
    color: #100F0F;
    border: 1px solid black;
}
@media screen and (max-width:768px) {
    .col-border {
        padding: 1.5rem 0;
        border-right: none;
        border-bottom: 1px solid black
    }
    .container--1 {
        margin-bottom: 1rem;
    }
}