/* ---------------NORMALIZE------------------ */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* ------------------GLOBAL------------------ */
/* General */
input, textarea {
    display: block;
    margin: 1rem 1rem 1rem 0;
}
body {
    background-color: #dddddd;
}
/* Boton */
.btn-custom {
    background-color: #414066;
    color: #ffffff;
    border-radius: 10px;
    transition: all 0.4s ease-in-out;
}
.btn--icon {
    width: 100%;
    display: flex;
    align-items: center;
}
.icon {
    margin-left: .3rem; 
}
/* --------------------TIPOGRAFIA----------------------- */
body {
    font-family: 'Lato', sans-serif;
}
h1 {
    letter-spacing: .2rem;
    font-size: 2rem;
}
p {
    font-size: 1.2rem;
    margin: 0;
}
/* ---------------------HEADER---------------------- */
.navbar {
    background-color: #414066;
    transition: all 0.4s ease-in-out;
}
.navbar-collapse {
    flex-grow: unset;
}
.navbar-nav {
    align-items: center;
}
.nav-item {
    margin: 0 1rem;
    padding: .3rem;
}
.nav-link {
    color: white;
    font-size: 1.1rem;
    font-weight: 700;
    transition: all 0.4s ease-in-out;
}
.nav-link:hover {
    color: #F5CB5C;
}
.nav-link:active {
    color: #F5CB5C;
}
.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
    color: #F5CB5C;
}
/* Logo */
.header__logo{
    width: 55px;
    margin-left: 1rem;
}
@media screen and (max-width: 992px) {
    .navbar-nav {
        align-items: flex-start;
    }
    .header__logo {
        margin-left: 1vw;
    }
    .nav-item {
        margin: 0 1vw;
    }
}
/*----------------- FOOTER------------------ */
.footer-custome {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #100F0F;
    color: #ffffff; 
}
@media screen and (max-width: 768px) {
    .footer-custome {
        height: auto;
        padding: .5rem;
        flex-direction: column-reverse;
    }
    .footer-custome p {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-mobile {
        display: block;
    }
}
/*------------------INICIO---------------------*/
/* Header */
.navbar--home {
    background-color: transparent;
    transition: all 0.4s ease-in-out;
}
.navbar--home:hover {
    background-color: #414066;
}
@media screen and (max-width: 992px) {
    .navbar--home {
        background-color: #414066;
    }
}
/* Hero */
.hero{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: url(../assets/images/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-bottom: 2px solid #100F0F;
}
.hero__container {
    width: 35vw;
    margin-left: 9vw;
    color: white; 
}
.hero__container a {
    width: 180px;
    padding: 0.7rem 1rem;
    font-weight: 700;
    font-size: 1.2rem;
    transition: all 0.4s ease-in-out;
}
.hero__container a:hover {
    color: #F5CB5C;
    background-color: #414066;
}
.hero__title {
    letter-spacing: .3rem;
    font-size: 3.5rem;
    font-weight: 700;
    font-style: italic;
}
.hero__p {
    margin: .5rem 0 1.1rem 0;
}
@media screen and (max-width:768px) {
    .hero__container {
        width: 50vw;
       margin-top: -7vh;
    }
    .hero__p {
        margin: 1.2rem 0;
    }
}
/* Feature */
.feature {
    width: 100%;
    height: auto;
    padding: 1rem;
    background-color: #414066;
    color: #ffffff;
    border-bottom: 2px solid black;
}
.feature__title {
    text-align: center;
    font-style: italic;
    letter-spacing: .2rem;
    margin-bottom: 1.5rem;
}
.feature__card {
    display: grid;
    grid-template-columns: 50px 200px;
    grid-template-rows: 75px 100px 25px;
    grid-column-gap: .8rem;
    grid-template-areas: 
    "icon title"
    "none text"
    "none link";
    align-items: center;
    justify-content: center;
    align-items: center;
}
.feature__link {
    text-decoration: none;
    grid-area: link;
    margin-right: auto;
    margin-top: .3rem;
    color:#F5CB5C;
    transition: all 0.4s ease-in-out;
}
.feature__link:hover {
    transform: translate(5px, 0px);
    color: #F5CB5C;
}
.icon--1 {
    margin: 0;
}
.feature__img {
    width: 45px;
    margin-top: -2vh;
    grid-area: icon;
    justify-self: center;
    color: #ffffff;
}
.feature__h3 {
    grid-area: title;
    margin-bottom: .5rem;
    font-weight: 900;
    font-size: 1.5rem
}
.feature__p {
    grid-area: text;
    margin: 0;
}
@media screen and (max-width: 768px) {
    .feature__container {
        margin: 1rem;
    }
    .feature__card {
        margin: .8rem;
    }
    .feature__img {
        margin-top: -1.5vh;
    }
}
/* Client */
.client {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
    padding: 0 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
}
.client__title {
    margin: 1rem 0 2rem 0;
    font-style: oblique;
    letter-spacing: .2rem;
}
.carousel--img {
    width: 150px;
    margin: 0 1rem;
}
#carouselPhone {
    display: none;
}
.carousel-inner {
    width: 90%;
    height: 22vh;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.carousel-control-prev {
    left: auto;
    right: auto;
}
.bg-body {
    background-color: #dddddd !important;
}
@media screen and (max-width: 768px){
    #carouselDesktop {
        display: none;
    }
    #carouselPhone {
        display: block;
    }
    .carousel-control-prev {
        left: auto;
        right: auto;
    }
    .carousel-inner {
        height: 150px;
    }
}
/*----------------------------SERVICIOS----------------------------*/
/*Titulo*/
.scrolling-container {
    width: 100%;
    height: 55px;
    margin-bottom: 1rem;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    background-color: #414066;
    border: 1px solid black;
}
.scrolling__title {
    width: 100%;
    margin: 0;
    position: absolute;
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
    color: #ffffff;
    transform: translateX(90%);
    animation: scrolling 14s linear infinite;
}
@keyframes scrolling {
    0% {
        -webkit-transform: translateX(75%);
        transform: translateX(75%);
    }
    100% {
        -webkit-transform: translateX(-75%);
        transform: translateX(-75%);
    }
}
/*Cards*/
.service__container {
    padding: 1.5rem 2rem;
}
.service__card {
    width: 90%;
    height: 275px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
	background-color: #ffffff;
	border: 2px solid #dddddd;
    border-radius: 1rem;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, .8);
    transition: box-shadow 0.2s ease, transform 0.2s ease;
}
.service__card:not(:last-child) {
    margin-bottom: 3rem;
}
.card__img {
    width: 40%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.2s ease;
}
.card__text-container {
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card__title {
    font-size: 1.5rem;
    margin-bottom: .2rem;
}
.card__subtitle {
    font-size: 1.1rem;
    margin-bottom: .3rem;
}
.card__bar {
    width: 50px;
    height: 5px;
    border-radius: 1rem;
    background-color: #F5CB5C;
    margin-bottom: .5rem;
    transition: width 0.2s ease;
}
.card__text {
    font-size: 1rem;
    line-height: 25px;
}
.card__tagbox {
    margin-bottom: .2rem;
}
.card__tag {
    margin-right: .5rem;
    padding: .5rem 1rem;
    border-radius: 10px;
    background-color: #414066;
    color: #fff;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, .8);
}
/*Animaciones*/
.service__card:hover {
    box-shadow: 0 34px 32px -33px rgba(0, 0, 0, .18);
	transform: translate(0px, -3px);
}
.service__card:hover .card__img {
    transform: scale(1.02) rotate(.2deg);
}
.service__card:hover .card__bar{
    width: 70px;
}
/*Media Query Tablet*/ 
@media screen and (max-width:1200px) {
    .service__card {
        width: 100%;
    }
    .card__tagbox {
        display: flex;
        flex-wrap: wrap;
    }
    .card__text {
        margin-bottom: 1rem;
    }
    .card__tag {
        margin-bottom: .5rem;
    }
}
/*Media Query Telefono*/
@media screen and (max-width:768px) {
    .service__card {
        flex-direction: column;
        height: auto;
        width: 100%;
    }
    .card__img {
        width: 100%;
        height: 200px;
    }
    .card__text {
        margin-bottom: 1rem;
    }
    .card__tag {
        margin-bottom: .5rem;
    }
} 
/*----------------------------PROYECTOS----------------------------*/
.projects__title {
    padding: 1rem;
    margin: 1rem 0 1.5rem 0;
    text-align: center;
    font-style: oblique;
    color: #100F0F;
    border: 1px solid black;
    border-right: none;
    border-left: none;
}

.projects {
    width: 100%;
    padding: 1rem;
    margin: 0 auto .5rem auto;
    border-bottom: 1px solid black;
}
.projects img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all 0.4s ease-out;
}
.projects img:hover {
    transform: translate(0px, -3px);
}
.projects__container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 250px);
    grid-gap: 20px;
}
.projects__container img:nth-child(1) {
    grid-column-start: span 2;
}
.projects__container img:nth-child(4) {
    grid-row-start: span 2;
}
/*----------------------------SOBRE MI----------------------------*/
.about-me {
    height: auto;
    padding: 1rem;
    border-bottom: 1px solid black;
}
.about-me__img {
    width: 80%;
    object-fit: cover;
    border-radius: 5px;
}
.about-me__container {
    width: 100%;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: justify;
}
.about-me__container p, .about-me__container h2 {
    margin-bottom: 1rem;
}
.about-me__container a {
    width: 180px;
    padding: 0.7rem 1rem;
    text-align: center;
    font-weight: 700;
    font-size: 1.2rem;
    transition: all 0.4s ease-in-out;
}
.about-me__container a:hover {
    color: #F5CB5C;
    background-color: #414066;
}
@media screen and (max-width: 1200px) {
    .about-me__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .about-me__container a {
      align-self: center;  
    }
    .about-me__container p {
        margin-bottom: 1rem;
    }
    .about-me__img {
        width: 100%;
    }
}
/*-----------------------SOLICITAR PRESUPUESTO---------------------*/
/*Fondo*/
.contact-section {
    background-image: url(../assets/images/pexels-picjumbocom-196645.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}
/*Tarjeta*/
.contact-container {
    width: 80vw;
    background-color: #414066;
    border-radius: 20px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.contact-card__container--1 {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.col-border {
    border-right: 1px solid black;
}
/*Datos*/
.container--1 {
    display: grid;
    grid-template-columns: 50px 200px;
    grid-template-rows: 75px 10px;
    grid-column-gap: .8rem;
    grid-template-areas: 
    "icon title"
    "none text";
    align-items: center;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}
.container--1 img{
    grid-area: icon;
}
.container--1 h2{
    grid-area: title;
    font-weight: 700;
}
.container--1 p{
    grid-area: text;
}
.contact-icon {
    width: 50px;
}
/*Formulario*/
.contact-card__container--2 {
    width: 90%;
    height: 100%;
    padding: 1rem 0;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.contact-card__container--2 .card__bar {
    margin: 0 auto;
    width: 100px;
}
.contact-card__container--2 h2 {
    font-style: italic;
    font-weight: 700
}
.field {
    width: 100%;
    padding: 0.5rem 1rem;
    margin: 1.5rem 0;
    outline: none;
    border: 2px solid #ddd;
    font-size: 1.1rem;
    background-color: #ffffff;  
}
.field:active {
    border: 2px solid black;
}
.btn-contact {
    width: 100%;
    background-color: #dddddd;
    font-size: 1.2rem;
    font-weight: 900;
    color: #100F0F;
    border: 1px solid black;
}
@media screen and (max-width:768px) {
    .col-border {
        padding: 1.5rem 0;
        border-right: none;
        border-bottom: 1px solid black
    }
    .container--1 {
        margin-bottom: 1rem;
    }
}