/* Boton */
.btn-custom {
    background-color: $primary_color;
    color: white;
    border-radius: 10px;
    transition: all 0.4s ease-in-out;
    .btn--icon {
        width: 100%;
        display: flex;
        align-items: center;
        .icon {
            margin-left: .3rem; 
        }
    }
}