/* Feature */
.feature {
    width: 100%;
    height: auto;
    padding: 1rem 1rem 2rem 1rem;
    background-color: #414066;
    color: #ffffff;
    border-bottom: 2px solid black;
}
.feature__title {
    text-align: center;
    font-style: italic;
    letter-spacing: .2rem;
    margin-bottom: 1.5rem;
}
.feature__card {
    display: grid;
    grid-template-columns: 50px 200px;
    grid-template-rows: 75px 100px 25px;
    grid-column-gap: .8rem;
    grid-template-areas: 
    "icon title"
    "none text"
    "none link";
    align-items: center;
    justify-content: center;
    align-items: center;
}
.feature__link {
    text-decoration: none;
    grid-area: link;
    margin-right: auto;
    margin-top: .3rem;
    color:#F5CB5C;
    transition: all 0.4s ease-in-out;
}
.feature__link:hover {
    transform: translate(5px, 0px);
    color: #F5CB5C;
}
.icon--1 {
    margin: 0;
}
.feature__img {
    width: 45px;
    margin-top: -2vh;
    grid-area: icon;
    justify-self: center;
    color: #ffffff;
}
.feature__h3 {
    grid-area: title;
    margin-bottom: .5rem;
    font-weight: 900;
    font-size: 1.5rem
}
.feature__p {
    grid-area: text;
    margin: 0;
}
@media screen and (max-width: 768px) {
    .feature__container {
        margin: 1rem;
    }
    .feature__card {
        margin: .8rem;
    }
    .feature__img {
        margin-top: -1.5vh;
    }
}