/*----------------------------SERVICIOS----------------------------*/
.main-service {
    background-image: url(../assets/images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .service__container {
        padding: 1.5rem 2rem;   
    }
}


