/*----------------------------SERVICIOS----------------------------*/
/*Titulo*/
.scrolling-container {
    width: 100%;
    height: 55px;
    margin-bottom: 1rem;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    background-color: #414066;
    border: 1px solid black;
}
.scrolling__title {
    width: 100%;
    margin: 0;
    position: absolute;
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
    color: #ffffff;
    transform: translateX(90%);
    animation: scrolling 14s linear infinite;
}
@keyframes scrolling {
    0% {
        -webkit-transform: translateX(75%);
        transform: translateX(75%);
    }
    100% {
        -webkit-transform: translateX(-75%);
        transform: translateX(-75%);
    }
}
/*Cards*/
.service__container {
    padding: 1.5rem 2rem;
}
.service__card {
    width: 90%;
    height: 275px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
	background-color: #ffffff;
	border: 2px solid #dddddd;
    border-radius: 1rem;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, .8);
    transition: box-shadow 0.2s ease, transform 0.2s ease;
}
.service__card:not(:last-child) {
    margin-bottom: 3rem;
}
.card__img {
    width: 40%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.2s ease;
}
.card__text-container {
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card__title {
    font-size: 1.5rem;
    margin-bottom: .2rem;
}
.card__subtitle {
    font-size: 1.1rem;
    margin-bottom: .3rem;
}
.card__bar {
    width: 50px;
    height: 5px;
    border-radius: 1rem;
    background-color: #F5CB5C;
    margin-bottom: .5rem;
    transition: width 0.2s ease;
}
.card__text {
    font-size: 1rem;
    line-height: 25px;
}
.card__tagbox {
    margin-bottom: .2rem;
}
.card__tag {
    margin-right: .5rem;
    padding: .5rem 1rem;
    border-radius: 10px;
    background-color: #414066;
    color: #fff;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, .8);
}
/*Animaciones*/
.service__card:hover {
    box-shadow: 0 34px 32px -33px rgba(0, 0, 0, .18);
	transform: translate(0px, -3px);
}
.service__card:hover .card__img {
    transform: scale(1.02) rotate(.2deg);
}
.service__card:hover .card__bar{
    width: 70px;
}
/*Media Query Tablet*/ 
@media screen and (max-width:1200px) {
    .service__card {
        width: 100%;
    }
    .card__tagbox {
        display: flex;
        flex-wrap: wrap;
    }
    .card__text {
        margin-bottom: 1rem;
    }
    .card__tag {
        margin-bottom: .5rem;
    }
}
/*Media Query Telefono*/
@media screen and (max-width:768px) {
    .service__card {
        flex-direction: column;
        height: auto;
        width: 100%;
    }
    .card__img {
        width: 100%;
        height: 200px;
    }
    .card__text {
        margin-bottom: 1rem;
    }
    .card__tag {
        margin-bottom: .5rem;
    }
} 