/*-----------------------SOLICITAR PRESUPUESTO---------------------*/
/*Fondo*/
.contact-section {
    background-image: url(../assets/images/pexels-picjumbocom-196645.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}
/*Tarjeta*/
.contact-container {
    width: 80vw;
    background-color: #414066;
    border-radius: 20px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.contact-card__container--1 {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.col-border {
    border-right: 1px solid black;
}
/*Datos*/
.container--1 {
    display: grid;
    grid-template-columns: 50px 200px;
    grid-template-rows: 75px 10px;
    grid-column-gap: .8rem;
    grid-template-areas: 
    "icon title"
    "none text";
    align-items: center;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}
.container--1 img{
    grid-area: icon;
}
.container--1 h2{
    grid-area: title;
    font-weight: 700;
}
.container--1 p{
    grid-area: text;
}
.contact-icon {
    width: 50px;
}
/*Formulario*/
.contact-card__container--2 {
    width: 90%;
    height: 100%;
    padding: 1rem 0;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.contact-card__container--2 .card__bar {
    margin: 0 auto;
    width: 100px;
}
.contact-card__container--2 h2 {
    font-style: italic;
    font-weight: 700
}
.field {
    width: 100%;
    padding: 0.5rem 1rem;
    margin: 1.5rem 0;
    outline: none;
    border: 2px solid #ddd;
    font-size: 1.1rem;
    background-color: #ffffff;  
}
.field:active {
    border: 2px solid black;
}
.btn-contact {
    width: 100%;
    background-color: #dddddd;
    font-size: 1.2rem;
    font-weight: 900;
    color: #100F0F;
    border: 1px solid black;
}
@media screen and (max-width:768px) {
    .col-border {
        padding: 1.5rem 0;
        border-right: none;
        border-bottom: 1px solid black
    }
    .container--1 {
        margin-bottom: 1rem;
    }
}