/*-----------------------SOLICITAR PRESUPUESTO---------------------*/
/*Fondo*/
.contact-section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-image: url(../assets/images/background-contact.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .container {
        margin: 5rem auto;
        align-self: center;
    }
}
