/* --------------------TIPOGRAFIA----------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;0,900;1,400&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}
h1 {
    letter-spacing: .2rem;
    font-size: 2rem;
}
p {
    font-size: 1.2rem;
    margin: 0;
}